$breakpoints: (
  "sm": 480px,
  "md": 768px,
  "lg": 1024px,
  "xl": 1440px,
  "xxl": 1920px,
);

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    @media (min-width: $breakpoint-value) {
      @content;
    }
  }
}

body,
h1,
h2,
h3,
h4,
p,
ul,
li,
a,
dl,
dt,
dd,
table,
tr,
th,
td,
span,
address {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  line-height: 1;
  outline: none;
  box-sizing: border-box;
  color: inherit;
  font: inherit;
}

input,
select,
textarea {
  background-color: unset;
  border: none;
  outline: none;
  color: inherit;
  font: inherit;
}

div,
header,
footer,
section,
article,
figure,
picture {
  box-sizing: border-box;
  margin: 0;
  display: block;
  padding: 0;
}

button {
  cursor: pointer;
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
}

.body {
  background-color: #eaeaea;
  position: relative;
  font-size: 16px;
}

[lang="ja"] {
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

[lang="en"] {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1,
h2 {
  line-height: 1;
}

p {
  line-height: 1.2;
}

.l-outer {
  width: 100%;
  padding-left: clamp(20px, calc(-6.761px + 7.136vw), 96px);
  padding-right: clamp(20px, calc(-6.761px + 7.136vw), 96px);
  margin: 0 auto;
}

.square-container {
  width: 100vw;
  height: 100svh;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  top: 0;
  left: 0;
  pointer-events: none;
  overflow: hidden;
  z-index: 9999;
  background-color: #080807;

  .square {
    width: 80px;
    height: 80px;
    background-color: #080807;
    pointer-events: none;
  }

  .loading-text {
    font-family: "Bruno Ace", sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #eaeaea;
    font-size: 20px;
    overflow: hidden;

    &__char {
      display: inline-block;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      opacity: 0;
    }
  }
}

#canvas {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 1;
}
