@charset "UTF-8";

@use "_common.scss" as *;

.p-back-fv {
  width: 100%;
  height: 100svh;
  position: relative;

  &__wrapper {
    width: 100%;
    height: 100%;
    padding-top: 48px;
    padding-bottom: 48px;
  }

  &__inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__footer {
    margin-top: auto;
    @include respond-to("lg") {
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
    }
  }

  .profile {
    &__body {
      @include respond-to("lg") {
        display: flex;
        justify-content: space-between;
      }
    }
    &__title {
      font-size: clamp(1.125rem, 0.993rem + 0.5634vw, 1.5rem);
      text-transform: uppercase;
      letter-spacing: 0.05em;
      margin-bottom: calc(24 / 16 * 1rem);

      @include respond-to("lg") {
        margin-bottom: calc(40 / 16 * 1rem);
      }
    }

    &__info {
      margin-bottom: calc(24 / 16 * 1rem);
    }

    &__name {
      margin-bottom: calc(24 / 16 * 1rem);

      @include respond-to("lg") {
        margin-bottom: calc(40 / 16 * 1rem);
      }
    }

    &__kana {
      display: block;
      font-size: clamp(0.625rem, 0.537rem + 0.3756vw, 0.875rem);
      letter-spacing: 0.1em;
      margin-bottom: calc(4 / 16 * 1rem);
      line-height: 1.2;
    }

    &__kanji {
      display: block;
      font-size: clamp(1.5rem, 1.2359rem + 1.1268vw, 2.25rem);
      letter-spacing: 0.1em;
      line-height: 1.2;
    }

    &__job {
      font-size: clamp(0.875rem, 0.831rem + 0.1878vw, 1rem);
      letter-spacing: 0.05em;
      line-height: 1.5;
    }

    &__image {
      width: 100px;
      margin-left: auto;

      @include respond-to("lg") {
        width: 160px;
        margin-top: 24px;

        &:hover {
          cursor: pointer;
        }
      }

      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }
  }

  .fv-footer-thanks {
    width: fit-content;
    margin-left: auto;
    margin-bottom: calc(64 / 16 * 1rem);

    @include respond-to("lg") {
      margin-bottom: 0;
    }
    &__text {
      font-size: clamp(3.5rem, 2.3556rem + 4.8826vw, 6.75rem);
      letter-spacing: 0.1em;
      line-height: 1;
    }
  }

  .fv-footer-info {
    &__title {
      font-size: clamp(1.125rem, 0.993rem + 0.5634vw, 1.5rem);
      text-transform: uppercase;
      letter-spacing: 0.05em;
      margin-bottom: calc(16 / 16 * 1rem);
    }

    &__item {
      font-size: clamp(0.875rem, 0.831rem + 0.1878vw, 1rem);
    }
  }

  &__link {
    position: absolute;
    top: 50%;
    left: 0;
    font-size: clamp(0.875rem, 0.831rem + 0.1878vw, 1rem);

    @include respond-to("lg") {
      top: auto;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
