@charset "UTF-8";

@use "_common.scss" as *;

.p-back-fv {
  width: 100%;
  height: 100svh;
  position: relative;

  &__wrapper {
    width: 100%;
    height: 100%;
    padding-top: 72px;
    // padding-bottom: 152px;
  }
}
