@charset "UTF-8";

@use "_common.scss" as *;

.p-top-fv {
  width: 100%;
  height: 100svh;
  position: relative;

  &__wrapper {
    width: 100%;
    height: 100%;
    padding-top: 152px;
    padding-bottom: 152px;
  }

  &__inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .square {
    width: 16px;
    height: 10px;
    border: 1.5px solid #080807;
    position: absolute;

    &--left-top {
      top: 40px;
      left: 40px;
    }

    &--right-top {
      top: 40px;
      right: 40px;
    }

    &--left-bottom {
      bottom: 40px;
      left: 40px;
    }

    &--right-bottom {
      bottom: 40px;
      right: 40px;
    }
  }

  &__title {
    font-size: clamp(3.5rem, 2.3556rem + 4.8826vw, 6.75rem);
    line-height: 1;
    letter-spacing: 0.1em;
    margin-bottom: 1rem;
  }

  &__link {
    display: block;
    font-size: clamp(1.25rem, 0.9859rem + 1.1268vw, 2rem);
    letter-spacing: 0.1em;
    text-align: center;
  }

  &__note {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 152px;
    font-size: 16px;
    cursor: pointer;

    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: #080807;
      transform: scaleX(1.1);
      margin-top: 4px;
    }
  }
}

.modal {
  width: 100vw;
  height: 100svh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  z-index: -1;

  &__wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba($color: #080807, $alpha: 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__main {
    width: 95vw;
    padding: clamp(20px, calc(12.958px + 1.878vw), 40px);
    max-width: 480px;
    height: fit-content;
    background-color: #080807;
    color: #d1d1c7;
    position: relative;
  }

  &__title {
    font-size: clamp(1rem, 0.912rem + 0.3756vw, 1.25rem);
    text-align: center;
    margin-bottom: 32px;
  }

  &__text {
    font-size: clamp(0.875rem, 0.831rem + 0.1878vw, 1rem);
    line-height: 1.5;
    margin-bottom: 32px;

    .space {
      display: block;
      margin-bottom: 8px;
    }
  }

  &__button {
    text-align: center;
  }

  &__close {
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: #d1d1c7;
      transform: scaleX(1.2);
      margin-top: 2px;
    }
  }
}
