---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/back.scss";
---

<BaseLayout>
  <section class="p-top-fv">
    <div class="l-outer">
      <div class="l-inner">
        <p><a href="/">this is back page</a></p>
      </div>
    </div>
  </section>
</BaseLayout>
