---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/back.scss";
---

<BaseLayout>
  <section class="p-back-fv">
    <div class="l-outer p-back-fv__wrapper">
      <div class="l-inner p-back-fv__inner">
        <div>
          <div>
            <h1 lang="en">web development & design</h1>
            <p>
              <span>さだときかいせい</span>
              <span>定時海聖</span>
            </p>
            <p>developer,<br />based in Hyogo, Japan</p>
          </div>
          <div>
            <img src="" alt="" />
          </div>
        </div>
        <div>
          <div>
            <h2 lang="en">information</h2>
            <ul>
              <li>
                <span lang="en">Mail:</span>
                <a lang="en" href="mailto:k25ts09@outlook.jp"
                  >k25ts09@outlook.jp</a
                >
              </li>
              <li>
                <span lang="en">Instagram:</span>
                <a
                  lang="en"
                  href="https://www.instagram.com/kaiseee_i_j/"
                  target="_blank">@kaiseee_i_j</a
                >
              </li>
              <li>
                <span lang="en">Portfolio:</span>
                <a
                  lang="en"
                  href="https://kaiseisadatoki-v3.vercel.app"
                  target="_blank">https://kaiseisadatoki-v3.vercel.app</a
                >
              </li>
            </ul>
          </div>
          <div>
            <a href="/">此処押下</a>
          </div>
          <div>
            <p>多謝</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
